.brands {
    position: relative;
    display: flex;
    z-index: -1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    height: 900px;

    &__slider {
        max-width: 90vw;
        width: 100%;
        overflow: hidden;
    }

    &__img {
        width: 150px;
        margin-right: 10px;
        padding-right: 10px;
    }
}