.line {
    display: block;
    height: 2px;
    width: 200px;
    background-color: $light-white;
    margin: 30px 0;
    box-shadow: 0 1px 0 rgba(0, 0, 1, 0.16);

    &--short {
        @extend .line;
        background-color: $brand-orange;
        width: 64px;
    }
}